* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0044FF;
}

/* ------------------------------------------------------------------------------------------------ */

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 75%;
    padding: 50px;
    border-radius: 40px;
}

#title {
    font-weight: 500;
    font-size: 7vh;
}

#button {
    margin-top: 20px;
    border-radius: 50px;
    height: 75px;
    width: 30vw;
    background-color: #00227E;
    color: white;
    border: none;
    font-size: 2rem;
}
#button:hover {
    background-color: white;
    color: #00227E;
    border: 1px solid #00227E;
    transition: 0.2s;
}

/* ------------------------------------------------------------------------------------------------ */

.containerInput {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.5rem;
}

.input {
    width: 30vw;
    height: 7vh;
    border-radius: 7vh;
    border: 1px solid #00227E;
    background-color: #cedbff;
    color: #00227E;
    font-size: 25px;
    padding-left: 12.5px;
}
.input:focus {
    outline: none;
}
/* ------------------------------------------------------------------------------------------------ */

.font-marope-blue {
    font-family: 'manrope';
    color: #00227E;
}