* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: 'manrope';
}

#header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #0044FF;
    color: white;
}

#containerLogo {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 1vh;
    padding-left: 3.75vh;
}

#imgLogo {
    height: 7.5vh;
    aspect-ratio: 1/1;
}

#BookSchool {
    font-family: "manjari";
    font-size: 3.5vh;
}

#containerHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 5vh;
    font-weight: 300;
}

#containerBody {
    display: flex;
}

#sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17.5vw;
    height: 85vh;
    background-color: #00227E;
    padding: 2vh;
}
#sideBar>#containerSideBar>a {
    font-size: 4vh;
    text-decoration: none;
    color: white;
}
#sideBar>#containerSideBar>a:hover {
    text-decoration:underline;
}

#containerSideBar {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#logout {
    font-size: 4vh;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
}

#logout:hover {
    cursor: pointer;
    text-decoration:underline;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#containerMain {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 90%;
    gap: 10px;
}

#containerCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    gap: 20px;
}

#sucesso {
    color: #050050;
    background-color: #37f2ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(131, 131, 131);
}

#cadastrar {
    text-decoration: none;
    color: white;
    background-color: #00227E;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(131, 131, 131);
}
#cadastrar:hover {
    color: #00227E;
    background-color: #87e5ff;
    transform: scale(1.1);
    transition: 50ms;
}


/* -------------------------------------------------------------------------- */

#tableWrapper {
    width: 100%;
    max-height: 65vh;
    overflow-y: auto;  
    box-shadow: 2px 2px 10px rgb(131, 131, 131);
}

#table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(0, 38, 255);
}
#table thead th {
    position: sticky;
    top: 0;
    background-color: rgb(0, 38, 255);
    z-index: 10; 
}

#tableHead {
    height: 10vh;
    font-family: "manrope";
    color: white;
    font-size: 3vh;
    font-weight: lighter;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    text-align: left;
}
#tableHead>tr {
    height: 10vh;
    font-family: "manrope";
    font-size: 3vh;
    font-weight: lighter;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    text-align: left;
}


#tableBody {
    background-color: #CEF4FF;
    color: #050050;
}
#tableBody>tr {
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 7.5vh;
    font-size: 3vh;
}

.td {   
    height: 7.5vh;
}

#tableBody>tr:hover {
    background-color: #87e5ff;
}

th {
    padding-left: 3vh;
}
td {
    padding: 0px 3vh;
}

.icone {
    width: 5vh;
    aspect-ratio: 1/1;
}
.icone:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 7.5vh;
    padding: 0px;
    aspect-ratio: 1/1;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 5vh;
    aspect-ratio: 1/1;
}